/tutorials/
/tests/
/templates/
/showcases/
/out/
/misc/
/images/
/examples/
/etc/
/doc/
/bin/
/3rdparty/
/.gdbinit.py
/.oppfeatures
/CREDITS
/INSTALL
/License
/Makefile
/doxy.cfg
/Version
/WHATSNEW
/setenv
